<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBAlumnosConnection"
		     connectionString="Data Source=CC\SQLDEVELOPER1;Initial Catalog=DBAlumnos;User ID=cc;Password=celeste12*U;Encrypt=False;"
		     providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>



